<?xml version="1.0"?>
<config>
    <modules>
        <Potoky_ViewedCommodities>
            <version>0.1.0</version>
        </Potoky_ViewedCommodities>
    </modules>
    <global>
        <blocks>
            <viewedcommodities>
                <class>Potoky_ViewedCommodities_Block</class>
            </viewedcommodities>
            <reports>
                <rewrite>
                    <product_viewed>Potoky_ViewedCommodities_Block_Product_Viewed</product_viewed>
                </rewrite>
            </reports>
        </blocks>
        <helpers>
            <viewedcommodities>
                <class>Potoky_ViewedCommodities_Helper</class>
            </viewedcommodities>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <potoky_viewedcommodities>
                    <file>viewedcommodities.xml</file>
                </potoky_viewedcommodities>
            </updates>
        </layout>
        <routers>
            <viewedcommodities>
                <use>standard</use>d
                <args>
                    <module>Potoky_ViewedCommodities</module>
                    <frontName>viewedcommodities</frontName>
                </args>
            </viewedcommodities>
        </routers>
        <events>
            <customer_login>
                <observers>
                    <reports>
                        <class>Potoky_ViewedCommodities_Model_Observer</class>
                        <method>customerLogin</method>
                    </reports>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <reports>
                        <class>Potoky_ViewedCommodities_Model_Observer</class>
                        <method>customerLogout</method>
                    </reports>
                </observers>
            </customer_logout>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <potoky_viewedcommodities_model_observer>
                        <class>Potoky_ViewedCommodities_Model_Observer</class>
                        <method>pageWatch</method>
                    </potoky_viewedcommodities_model_observer>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </frontend>
</config>