
.ui-dialog-titlebar.ib-popup-titlebar {
    background-color: orangered;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

.ib-popup-titlebar .ui-dialog-title.ib-popup-title {
    float: none;
    white-space: normal;
}

.ib-popup-assisting {
    width: 291px;
    height: 15px;
    background-color: orangered;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close.ui-button.ib-popup-close-button {
    top: 0;
    left: 100%;
    margin: -9px 0 0 -20px;
    border: none;
    border-radius: 100%;
    background-color: orangered;
    width: 30px;
    height: 30px;
}

.ui-button-icon.ui-icon.ui-icon-closethick {
    background-image: url(images/ui-icons_ffffff_256x240.png);
}

.ib-popup-content {
    font-size: 14px;
    font-weight: bold;

}