<?xml version="1.0"?>
<config>
    <modules>
        <Potoky_AlertAnonymous>
            <version>0.1.0</version>
        </Potoky_AlertAnonymous>
    </modules>
    <global>
        <models>
            <alertanonymous>
                <class>Potoky_AlertAnonymous_Model</class>
                <resourceModel>alertanonymous_mysql4</resourceModel>
            </alertanonymous>
            <alertanonymous_mysql4>
                <class>Potoky_AlertAnonymous_Model_Mysql4</class>
                <entities>
                    <statistics>
                        <table>anonymous_alerts</table>
                    </statistics>
                </entities>
            </alertanonymous_mysql4>
        </models>
        <resources>
            <alertanonymous_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </alertanonymous_write>
            <alertanonymous_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </alertanonymous_read>
            <alertanonymous_setup>
                <setup>
                    <module>Potoky_AlertAnonymous</module>
                    <class>Potoky_AlertAnonymous_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </alertanonymous_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <potoky_alertanonymous>
                    <file>alertanonymous.xml</file>
                </potoky_alertanonymous>
            </updates>
        </layout>
    </frontend>
</config>