<?xml version="1.0"?>
<config>
    <modules>
        <Potoky_AlertAnonymous>
            <version>0.1.0</version>
        </Potoky_AlertAnonymous>
    </modules>
    <global>
        <blocks>
            <alertanonymous>
                <class>Potoky_AlertAnonymous_Block</class>
            </alertanonymous>
            <productalert>
                <rewrite>
                    <product_view>Potoky_AlertAnonymous_Block_Product_View</product_view>
                    <email_price>Potoky_AlertAnonymous_Block_Email_Price</email_price>
                </rewrite>
            </productalert>
        </blocks>
        <template>
            <email>
                <catalog_productalert_email_stock_template_anonymous translate="label" module="productalert">
                    <label>Product stock alert anonymous</label>
                    <file>product_stock_alert_anonymous.html</file>
                    <type>html</type>
                </catalog_productalert_email_stock_template_anonymous>
                <catalog_productalert_email_price_template_anonymous translate="label" module="productalert">
                    <label>Product price alert anonymous</label>
                    <file>product_price_alert_anonymous.html</file>
                    <type>html</type>
                </catalog_productalert_email_price_template_anonymous>
            </email>
        </template>
        <models>
            <alertanonymous>
                <class>Potoky_AlertAnonymous_Model</class>
                <resourceModel>alertanonymous_mysql4</resourceModel>
            </alertanonymous>
            <alertanonymous_mysql4>
                <class>Potoky_AlertAnonymous_Model_Mysql4</class>
                <entities>
                    <price>
                        <table>anonymous_alerts_price</table>
                    </price>
                </entities>
            </alertanonymous_mysql4>
            <productalert>
                <rewrite>
                    <email>Potoky_AlertAnonymous_Model_Email</email>
                    <price>Potoky_AlertAnonymous_Model_Price</price>
                    <observer>Potoky_AlertAnonymous_Model_Observer</observer>
                </rewrite>
            </productalert>
            <core>
                <rewrite>
                    <email_template>Potoky_AlertAnonymous_Model_Email_Template</email_template>
                </rewrite>
            </core>
            <customer>
                <rewrite>
                    <customer>Potoky_AlertAnonymous_Model_Customer</customer>
                </rewrite>
            </customer>
        </models>
        <helpers>
            <alertanonymous>
                <class>Potoky_AlertAnonymous_Helper</class>
            </alertanonymous>
        </helpers>
        <resources>
            <alertanonymous_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </alertanonymous_write>
            <alertanonymous_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </alertanonymous_read>
            <alertanonymous_setup>
                <setup>
                    <module>Potoky_AlertAnonymous</module>
                    <class>Potoky_AlertAnonymous_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </alertanonymous_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <price_alert_save_before>
                <observers>
                    <anonymous_alert_duplication_avoid>
                        <class>Potoky_AlertAnonymous_Model_Observer</class>
                        <method>avoidDuplication</method>
                    </anonymous_alert_duplication_avoid>
                </observers>
            </price_alert_save_before>
            <core_session_abstract_add_message>
                <observers>
                    <error_message_change>
                        <class>Potoky_AlertAnonymous_Model_Observer</class>
                        <method>rewriteMessage</method>
                    </error_message_change>
                </observers>
            </core_session_abstract_add_message>
            <price_alert_delete_before>
                <observers>
                    <anonymous_alert_cascade_delete_price>
                        <class>Potoky_AlertAnonymous_Model_Observer</class>
                        <method>cascadeDelete</method>
                    </anonymous_alert_cascade_delete_price>
                </observers>
            </price_alert_delete_before>
            <priceAll_alert_delete_before>
                <observers>
                    <anonymous_alert_cascade_delete_priceAll>
                        <class>Potoky_AlertAnonymous_Model_Observer</class>
                        <method>cascadeDelete</method>
                    </anonymous_alert_cascade_delete_priceAll>
                </observers>
            </priceAll_alert_delete_before>
        </events>
        <routers>
            <productalert>
                <args>
                    <modules>
                        <alertanonymous before="Mage_ProductAlert">Potoky_AlertAnonymous</alertanonymous>
                    </modules>
                </args>
            </productalert>
        </routers>
    </frontend>
</config>