<?xml version="1.0"?>
<config>
    <modules>
        <Potoky_ItemBanner>
            <version>0.1.0</version>
        </Potoky_ItemBanner>
    </modules>
    <global>
        <blocks>
            <itembanner>
                <class>Potoky_ItemBanner_Block</class>
            </itembanner>
            <widget>
                <rewrite>
                    <adminhtml_widget_instance_edit_tab_properties>Potoky_ItemBanner_Block_Adminhtml_Widget_Instance_Edit_Tab_Properties</adminhtml_widget_instance_edit_tab_properties>
                </rewrite>
            </widget>
        </blocks>
        <helpers>
            <itembanner>
                <class>Potoky_ItemBanner_Helper</class>
            </itembanner>
        </helpers>
        <models>
            <itembanner>
                <class>Potoky_ItemBanner_Model</class>
            </itembanner>
        </models>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <itembanner before="Mage_Widget">Potoky_ItemBanner_Adminhtml</itembanner>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <itembanner>
                    <file>itembanner.xml</file>
                </itembanner>
            </updates>
        </layout>
    </adminhtml>
</config>