<?xml version="1.0"?>
<config>
    <sections>
        <cms>
            <groups>
                <itembanner>
                    <label>Service Group</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>250</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <all_store_ids>
                            <label>All Existing Store View Ids</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </all_store_ids>
                        <active_banners_positioning>
                            <label>Info on Positions of Currently Displayed Banners</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active_banners_positioning>
                    </fields>
                </itembanner>
            </groups>
        </cms>
    </sections>
</config>